body{
  background-color: black;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  z-index: -1;
}

.stars{
  display: block;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move_right {
  from { transform: rotate(0deg) translateX(8px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(8px) rotate(-360deg); }
}

@keyframes move_left {
  from { transform: rotate(0deg) translateX(8px) rotate(0deg); }
  to   { transform: rotate(-360deg) translateX(8px) rotate(360deg); }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}



.main-wrapper{
  margin-top: 85px;
  max-width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-wrapper{
  z-index: 1;
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1.5em;
}

.carousel-container{
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 20px;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: 570px;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.text-container{
    width: 40%;
    height: 100%;
    border-radius: 25px;
    padding: 1.5em;
    border: 3px solid white; 
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin-left: 10px;
    transition: background-color 0.8s linear;
}

@media only screen and (max-width: 1000px) {
  .main-wrapper{
    margin-top: 30px;
  }
  .second-wrapper {
    flex-direction: column;
  }
  .text-container {
    margin-top: 10px;
    width: 100%;
    min-height: 50%;
    margin-left: 0px;
  }
  .carousel{
    height: 370px;
  }
  .carousel-button{
    font-size: 2rem;
  }
}

:root {
  --glow-rgb: 239 42 201;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

